<h1 class="title">
  {{title}}
</h1>

<p class="subtitle">
  Create a new incredible post! <i class="fa fa-smile-o"></i>
</p>

<br>
<br>

<form [formGroup]="form" (ngSubmit)="save()">

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-link" type="submit" [disabled]="!form.valid">
          Create
        </button>
      </div>
      <div class="control">
        <button class="button">Cancel</button>
      </div>
    </div>
    
    <br>
    
    <div class="field">
      <label class="label"
        for="title"
        [class.active]="post.title"
        data-error="Title is required and needs to contain at least 3 chars"
      >Title</label>
      <div class="control">
        <input
          id="title" type="text" class="input validate"
          [(ngModel)]="post.title" formControlName="title"
          [class.invalid]="form.controls['title'].touched && !form.controls['title'].valid">
      </div>
    </div>
  
    <div class="field">
        <label class="label"
          for="description"
          [class.active]="post.description"
          data-error="Description is required and needs to contain at least 10 chars">
        Description
      </label>
        <div class="control">
          <input
            id="description" type="text" class="input validate"
            [(ngModel)]="post.description" formControlName="description"
            [class.invalid]="form.controls['description'].touched && !form.controls['description'].valid">
        </div>
      </div>
    
    <div class="field">
      <label class="label"
      for="body"
      [class.active]="post.body"
      data-error="Body is required and needs to contain at least 10 chars">Body</label>
      <div class="control">
        <textarea class="textarea" rows="100%"
        id="body" type="text" class="input validate"
        [(ngModel)]="post.body" formControlName="body"
        [class.invalid]="form.controls['body'].touched && !form.controls['body'].valid"></textarea>
      </div>
    </div>
  </form>
