<h1 class="title">
  {{title}}
</h1>

<p class="subtitle">
  Create a new incredible post! <i class="fa fa-smile-o"></i>
</p>

<br>
<br>

<form (ngSubmit)="save()">

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-link" type="submit">
          Create
        </button>
      </div>
      <div class="control">
        <button class="button">Cancel</button>
      </div>
    </div>
    
    <br>
    
    <div class="field">
      <label class="label" for="title">Title</label>
      <div class="control">
        <input
          id="title" type="text" class="input" [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  
    <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <input id="description" type="text" class="input"[(ngModel)]="post.description" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
    
    <div class="field">
      <label class="label" for="body">Body</label>
      <div class="control">
        <app-editor [value]="defaultPostBody" [elementId]="'body'" (onEditorKeyup)="handleKeyup($event)"></app-editor>
      </div>
    </div>
  </form>
